@media (max-width: 768px) {
  // Top nav
  .top-nav {
    &_menu {
      flex-direction: column;
      display: none;
      &__active {
        display: flex;
        margin-bottom: 0;
      }
      & li {
        line-height: 2;
        & a {
          &::after {
            display: none;
          }
        }
      }
    }
  }
  // Slider
  .slick-next {
    display: none !important;
  }
  .slick-prev {
    display: none !important;
  }
  .slider-block_content {
    top: 8rem !important;
    right: 2rem !important;
    & h1 {
      font-size: 1.5rem !important;
    }
    & .btn {
      margin-top: 30px !important;
    }
  }
  // Block1
  .content-block1 {
    .col-12 {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .content-block1-item {
    flex-direction: column;
    &_img {
      margin-bottom: 20px;
    }
    &_h {
      display: flex;
      align-items: center;
    }
  }
  // Block2 {
  .content-block2 {
    padding: 0 !important;
    padding-top: 50px !important;
  }
  .content-block2-item {
    flex-direction: column;
    align-items: center;
    &_h {
      & h2 {
        margin-top: 20px;
      }
    }
  }
  // Block5
  .content-block5-item {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    &_content {
      align-items: center;
    }
  }
  // Block7
  .content-block7-item {
    flex-direction: column;
    align-items: center;
  }
  // Footer
  .footer_menu {
    align-items: center;
  }
  // Company page
  .company_1 {
    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center !important;
      align-items: center;
      img {
        padding-right: 0 !important;
        padding-bottom: 0 !important;
        width: 100%;
      }
      &-content {
        h1 {
          text-align: center;
          margin-top: 25px;
        }
      }
    }
    &-item2 {
      justify-content: center;
      h1 {
        text-align: center;
      }
      &_content {
        justify-content: center;
        flex-direction: column;
        img {
          padding-right: 0;
        }
        &-line {
          display: none;
        }
        &-text {
          text-align: center;
        }
      }
    }
  }
  // Register page
  .register-form-input {
    flex-direction: column;
    align-items: center;
    label {
      margin-right: 0 !important;
    }
    input {
      padding: 10px;
      width: 70% !important;
    }
  }
}
