@media (max-width: 1291px) {
  .top-nav_menu {
    display: none !important;
  }
  .adapt-menu {
    position: absolute;
    top: 80px;
    right: 0;
    background-color: #fff;
    &_items {
      flex-direction: column;
      list-style: none;
      & li {
        margin-right: 20px;
        & a {
          text-transform: uppercase;
          text-decoration: none;
          color: $nav-menu-text;
          font-family: KozGoPro_Heavy;
          font-size: 18px;
          &:hover {
            color: $active-color;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .slick-next {
    display: none !important;
  }
  .slick-prev {
    display: none !important;
  }
  .slider-block_content {
    
  }
}
