@font-face {
  font-family: KozGoPro_Bold;
  src: url("/font/KozGoPro-Bold.otf");
}

@font-face {
  font-family: KozGoPro_Heavy;
  src: url("/font/KozGoPro-Heavy.otf");
}

@font-face {
  font-family: KozGoPro_Light;
  src: url("/font/KozGoPro-Light.otf");
}

@font-face {
  font-family: KozGoPro_Medium;
  src: url("/font/KozGoPro-Medium.otf");
}

@font-face {
  font-family: KozGoPro_Regular;
  src: url("/font/KozGoPro-Regular.otf");
}

@media (max-width: 1291px) {
  .top-nav_menu {
    display: none !important;
  }
  .adapt-menu {
    position: absolute;
    top: 80px;
    right: 0;
    background-color: #fff;
  }
  .adapt-menu_items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
  }
  .adapt-menu_items li {
    margin-right: 20px;
  }
  .adapt-menu_items li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #373737;
    font-family: KozGoPro_Heavy;
    font-size: 18px;
  }
  .adapt-menu_items li a:hover {
    color: #ff5000;
  }
}

@media (max-width: 767px) {
  .slick-next {
    display: none !important;
  }
  .slick-prev {
    display: none !important;
  }
}

button:focus,
input:focus,
textarea:focus,
a:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.row {
  margin: 0;
}

p {
  margin: 0;
}

.adapt-menu {
  display: none;
}

.btn {
  padding: 5px 30px;
  display: inline-block;
  color: white;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}

.btn-red {
  background-color: #ef3139;
  color: #fff;
  font-size: 25px;
}

.btn-white {
  background-color: #fff;
  width: 250px;
  font-size: 24px;
  color: #ef3139;
  text-align: center;
  font-family: KozGoPro_Medium;
}

.btn-white:hover {
  opacity: 0.5;
}

.btn-primary {
  background-color: #00aced;
  width: 130px;
  margin-bottom: 30px;
}

.btn-primary:hover {
  background-color: #00b3f7;
}

body {
  background-color: #fff;
  color: #383838;
  margin: 0;
  padding: 0;
  font-family: KozGoPro_Light;
  font-size: 16px;
}

.top-nav {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.top-nav_logo {
  font-family: KozGoPro_Heavy;
  color: #00aced;
  font-size: 36px;
  padding-left: 15px;
  cursor: pointer;
}

.top-nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10rem;
}

.top-nav_items {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.top-nav_items li {
  margin-right: 39px;
}

.top-nav_items li:last-child {
  margin-right: 0;
}

.top-nav_items li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #373737;
  font-family: KozGoPro_Heavy;
  font-size: 18px;
}

.top-nav_items li a:hover {
  color: #ff5000;
}

.top-nav_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.top-nav_user img {
  width: 42px;
  height: 42px;
}

.top-nav_user h3 {
  font-family: KozGoPro_Bold;
  font-size: 20px;
  margin-left: 7px;
  margin-right: 25px;
}

.top-nav_user h3:hover {
  opacity: 0.5;
}

.top-nav_button {
  width: 110px;
  height: 90px;
  background-color: #ff5000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-nav_button-circle {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: #ff5000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.top-nav_button-circle:hover {
  opacity: 0.5;
}

.top-nav_button-circle i {
  color: white;
}

.slider {
  background: -webkit-gradient(linear, left top, right top, from(#00aced), to(#dadc55));
  background: linear-gradient(0.25turn, #00aced, #dadc55);
  height: 650px;
}

.slider-block {
  padding-top: 80px;
  position: relative;
}

.slider-block img {
  position: absolute;
  left: 0;
  z-index: 1;
}

.slider-block_content {
  position: absolute;
  right: 0;
  top: 12rem;
  color: white;
  text-align: right;
  z-index: 5;
}

.slider-block_content h1 {
  font-size: 2.8rem;
  font-family: KozGoPro_Bold;
  margin: 0;
}

.slider-block_content h2 {
  font-size: 1.7rem;
  margin: 0;
}

.slider-block_content a {
  text-decoration: none;
}

.slider-block_content .btn {
  padding: 5px 40px;
  display: inline-block;
  color: white;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  font-size: 26px;
  margin-top: 80px;
}

.slider-block_content .btn-warning {
  background-color: #ff5000;
}

.slider-block_content .btn-warning:hover {
  background-color: #ff570a;
}

.slick-slide {
  height: 650px;
}

.slick-next {
  position: absolute;
  right: -85px;
  display: block;
  height: 50px;
  width: 50px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  outline: none;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.slick-prev {
  position: absolute;
  left: -85px;
  display: block;
  height: 50px;
  width: 50px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  outline: none;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.slick-next:before {
  content: "";
}

.slick-prev:before {
  content: "";
}

.content {
  margin-top: 67px;
}

.content-block1 {
  margin-bottom: 95px;
}

.content-block1 h1 {
  font-size: 35px;
  font-family: KozGoPro_Medium;
  color: #ff5000;
  text-align: center;
  margin-bottom: 25px;
}

.content-block1-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  border-radius: 10px;
  margin-top: 35px;
}

.content-block1-item_primary {
  background-color: #00aced;
}

.content-block1-item_orange {
  background-color: #ffb632;
}

.content-block1-item_green {
  background-color: #19fea1;
}

.content-block1-item_grey {
  background-color: #48626f;
}

.content-block1-item_yellow {
  background-color: #fef102;
}

.content-block1-item_aqua {
  background-color: #01b59e;
}

.content-block1-item_img {
  background-color: #fff;
  padding: 25px;
  border-radius: 50%;
  margin-right: 15px;
}

.content-block1-item_h {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-family: KozGoPro_Light;
  text-transform: uppercase;
}

.content-block1-item_h h2 {
  font-size: 28px;
  margin-bottom: 10px;
  font-family: KozGoPro_Heavy;
}

.content-block1-item_h h3 {
  font-size: 20px;
}

.content-block1-item_h h4 {
  font-size: 18px;
  text-transform: none;
}

.content-block1-item_h h4::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 10px;
}

.content-block1-item_h_text-black h2 {
  color: #383838;
  font-family: KozGoPro_Heavy;
}

.content-block1-item_h_text-black h3 {
  color: #383838;
}

.content-block1-item_h_text-heavy h2 {
  font-family: KozGoPro_Heavy;
}

.content-block1-item_h__items {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.content-block1-item_h__items-point {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.content-block2 {
  margin-bottom: 55px;
  padding: 55px 55px 75px 55px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.content-block2 h1 {
  font-size: 35px;
  font-family: KozGoPro_Medium;
  color: #ef3139;
  text-align: center;
}

.content-block2-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.content-block2-item_img {
  width: 98px;
  height: 87px;
  background-color: #00aced;
  border-radius: 10px;
  padding: 20px 28px;
  margin-right: 20px;
}

.content-block2-item_img_pink {
  background-color: #ff4181;
}

.content-block2-item_h {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #383838;
  text-transform: uppercase;
}

.content-block2-item_h h2 {
  font-size: 26px;
  font-family: KozGoPro_Medium;
}

.content-block2-item_h h3 {
  margin-left: 10px;
  font-size: 20px;
  font-family: KozGoPro_Light;
}

.content-block2-item_h__items h3 {
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.75;
}

.content-block2-item_h__items h3::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #383838;
  border-radius: 50%;
  margin-right: 10px;
}

.content-block3 {
  margin-bottom: 55px;
  background-color: #ef3139;
  padding: 65px 0 85px 0;
  color: #fff;
}

.content-block3 h1 {
  font-size: 36px;
  font-family: KozGoPro_Bold;
  text-align: center;
  text-transform: uppercase;
}

.content-block3 h2 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 45px;
}

.content-block3 p {
  font-size: 22px;
  line-height: 1.864;
}

.content-block4 h1 {
  font-size: 36px;
  font-family: KozGoPro_Bold;
  text-align: center;
  text-transform: uppercase;
  color: #ef3139;
}

.content-block4 h2 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 45px;
  color: #ef3139;
}

.content-block4-item {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-block4-item_card {
  background-color: #fff;
  text-align: center;
  margin-bottom: 60px;
  min-height: 522px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.content-block4-item_card img {
  width: 100%;
}

.content-block4-item_card-content {
  margin-top: -85px;
  padding-left: 10px;
  padding-right: 10px;
}

.content-block4-item_card-content-img {
  padding: 15px 25px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.content-block4-item_card-content-img img {
  width: 45px;
  height: 50px;
}

.content-block4-item_card-content h3 {
  font-size: 20px;
  color: #00aced;
  font-family: KozGoPro_Bold;
  margin-bottom: 10px;
}

.content-block4-item_card-content p {
  font-size: 16px;
  line-height: 1.563;
}

.content-block4-item_card-content a {
  text-transform: none;
}

.content-block5 {
  background-image: url(/img/block5/block5-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 60px;
}

.content-block5 h1 {
  font-size: 36px;
  font-family: KozGoPro_Bold;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.content-block5 h2 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 45px;
  color: white;
}

.content-block5-item {
  background-color: #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.content-block5-item img {
  min-height: 280px;
}

.content-block5-item_content {
  padding: 20px 20px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-block5-item_content h3 {
  font-size: 24px;
  font-family: KozGoPro_Medium;
  color: #00aced;
  margin-bottom: 10px;
}

.content-block5-item_content h4 {
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 2rem;
}

.content-block5-btn {
  text-align: center;
}

.content-block6 {
  margin-top: 70px;
  margin-bottom: 50px;
}

.content-block6 h1 {
  font-size: 36px;
  font-family: KozGoPro_Bold;
  text-align: center;
  text-transform: uppercase;
  color: #ff5000;
}

.content-block6 h2 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 45px;
  color: #ff5000;
}

.content-block6-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 2px dotted rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-bottom: 25px;
}

.content-block6-item h3 {
  color: #ff5000;
  font-size: 20px;
  line-height: 1.6;
  font-family: KozGoPro_Medium;
  margin-right: 70px;
}

.content-block6-item button {
  width: 40px;
  height: 35px;
  background-color: #383838;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.content-block6-item button i {
  color: white;
  margin-top: 5px;
}

.content-block6-item_none {
  display: none;
  padding: 20px;
  -webkit-transition: ease-in;
  transition: ease-in;
}

.content-block6-item_none__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-block7 {
  background-color: #b1d518;
  padding-top: 80px;
  padding-bottom: 100px;
}

.content-block7 h1 {
  font-size: 36px;
  font-family: KozGoPro_Bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.content-block7 h2 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 45px;
  color: #fff;
}

.content-block7-item {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7px;
  padding: 20px 35px;
}

.content-block7-item h4 {
  color: #00aced;
  font-size: 18px;
  font-family: KozGoPro_Bold;
  margin-right: 60px;
}

.content-block7-item h5 {
  font-size: 18px;
}

.content-block7-btn {
  text-align: center;
  margin-top: 25px;
}

.footer {
  padding: 90px 30px;
  background-image: url(/img/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #929497;
}

.footer h1 {
  font-size: 28px;
  color: #fff;
  margin-bottom: 25px;
}

.footer li {
  margin-bottom: 14px;
}

.footer a {
  color: #929497;
  text-decoration: none;
}

.footer a:hover {
  color: white;
}

.footer ul {
  padding: 0;
  list-style: none;
  line-height: 32px;
  margin-bottom: 20px;
}

.footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_menu a img {
  margin-right: 15px;
}

.footer_menu a span {
  font-size: 20px;
  color: #cacbcc;
  text-transform: uppercase;
  font-family: KozGoPro_Bold;
}
/*# sourceMappingURL=style.css.map */